[Unit]
Description=Run backup_snapshot.py
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot

Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no

LogRateLimitIntervalSec=0

ExecStart=/usr/local/bin/backup_snapshot.py
