{{ ansible_managed | comment }}
# Default settings for user directories
#
# The values are relative pathnames from the home directory and
# will be translated on a per-path-element basis into the users locale
{% if xdg_user_dirs is defined %}
DESKTOP={{ xdg_user_dirs['desktop'] }}
DOWNLOAD={{ xdg_user_dirs['download'] }}
TEMPLATES={{ xdg_user_dirs['templates'] }}
PUBLICSHARE={{ xdg_user_dirs['publicshare'] }}
DOCUMENTS={{ xdg_user_dirs['documents'] }}
MUSIC={{ xdg_user_dirs['music'] }}
PICTURES={{ xdg_user_dirs['pictures'] }}
VIDEOS={{ xdg_user_dirs['videos'] }}
{% endif %}
